@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

// VARIABLES

:root{
  --color-black:  #1a1a1a;
  --color-primary: #0090df;
  --color-white: #ffffff;
  --color-secondary: #11abff; 
  font-family: 'Raleway', sans-serif;
}
$color-primary: #0090df;

// Body 
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
}

// Main Menu
.logo{
  width: 200px;
}
.menu__logo{
  padding-left: 1em;
}
.menu{
  &__content{
    background-color: rgba(26,26,26,.75);
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    padding: .5em 0;
  }
}
.menu-icon{
  width: 32px;
}
/* Screen reader only */
.sr-only {
  position: absolute;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
	overflow-y: scroll;
	overflow-x: visible;
	transition: left 0.3s ease,
				      box-shadow 0.3s ease;
	z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 80vw;
  background: #1a1a1a;
  overflow: hidden;
}

.menu__item {
  display: block;
  padding: 1em 15px;
  line-height: 1em;
  font-size: 1em;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: none;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: none;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
		left: auto;
		top: auto;
		height: auto;
    display: block;
  }
  
  .main-menu ul {
    display: flex;
    
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  
  .main-menu a {
    color:var(--color-primary);
    border: 0 !important; /* Remove borders from off-canvas styling */
    text-decoration: none;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: darken($color-primary,20%);
    text-decoration: none;
  }
}

.hamburguer-menu{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 48px;
  width: 48px;
}

a{
  color: var(--color-primary);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: .5em 1em;
  transition: color .3s ease;
  &:hover{
    color: lighten($color-primary, 50%);
  }
}



// Main

.main{
  &__container{
    background-image: url('../img/main-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



// Layout

.container{
  width: 100%;
  margin: 0 auto;
}

.content{
  width: 100%;
  max-width: 1320px;
  padding: 3em 0em;
  margin: 0 auto;
}

.content__head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.content__title{
  font-size: 44px;
  position: relative;
  color: var(--color-white);
  &::before{
    position: absolute;
    content: '';
    top: 170%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 5px;
    background-color: var(--color-primary); 
  }
}
.content__title--left{
  font-size: 44px;
  position: relative;
  color: var(--color-white);
  &::before{
    position: absolute;
    content: '';
    top: 170%;
    left: 0;
    right: auto;
    margin: 0 auto;
    width: 50px;
    height: 5px;
    background-color: var(--color-primary); 
  }
  @media only screen and (max-width: 786px) {
    padding: .5em;
    &::before{
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      background-color: var(--color-primary); 
    }
  }
}

.content__subtitle{
  padding: 1em 1em 3em 1em;
  color: var(--color-primary);
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  max-width: 900px;
  span{
    color: var(--color-white);
  }
}

// Grid

.grid-3-col{
  display: grid;
  grid-gap: 14px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  @media only screen and (max-width: 786px) {
    grid-template-columns: 1fr;
  }
}

.grid-2-col{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  @media only screen and (max-width: 786px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.grid-1-col{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.grid-item__vertical{
  margin: 0 auto;
  text-align: center;
}
.grid-4-col{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 14px;
  width: 100%;
  @media only screen and (max-width: 786px) {
    grid-template-columns: 1fr;
  }
}

.grid-40-60{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 14px;
  @media only screen and (max-width: 786px) {
    grid-template-columns: 1fr;
  }
}

.grid-20-80{
  display: grid;
  grid-template-columns: 110px auto;
  align-items: center;
}

.grid__image{
  width: 100%;
}
.grid__image-max{
  max-width: 600px;
}

.content__grid{
  margin-top: .5em;
  margin-bottom: 2em;
}
// Tipography

.headline-2{
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;
}

.headline-3{
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.paragraph{
  color: var(--color-primary);
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.body01{
  color: white;
  text-align: center;
  font-size: 18px;
  padding: .5em;
  margin: 0 auto;
  max-width: 700px;
}
.body02{
  text-align: left;
  color: var(--color-primary);
  font-size: 18px;
  padding: .5em;
}
.body02 span{
  font-weight: 700;
  color: var(--color-white);
}
.subtitle{
  color: var(--color-primary);
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
  padding: .5em;
}

.strong{
  font-weight: 700;
}


// Esencia Do

.esenciado__container{
  background-image: url('../img/bg-sea.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.hablemos__container{
  background-image: url('../img/bg-sea-bottom.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
}

// Nos embarcamos

.nos-embarcamos{
  &__left{
    background-image: url('../img/nos-embarcamos.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__right{
    background-image: url('../img/bg-trama.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em 3em;
    background-color: var(--color-secondary);
    text-align: left;
    color: var(--color-white);
  }
}


// qué comemos

.slider__content{
  margin: 0 auto;
  text-align: center;
}
.glide--container{
  margin: 0 auto;
}
.glide--dots{
justify-content: center;
}

// Cómo pedir

.como-pedir__container{
  background-image: url('../img/bg-trama.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-secondary);
}


// 120% ECO

.left-content img{
  width: 90%;
}


// footer

.footer_container{
  width: 100%;
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-primary);
}
// ESTILOS GLOBALES
.color_white{
  color: var(--color-white);
}

.color-primary{
  color: var(--color-primary);
}

.text-align-left{
  text-align: left;
  padding-left: 0;
  padding-right: 2em;
  @media only screen and (max-width: 786px) {
    padding: .5em;
}
}

.span-white{
  color: var(--color-white);
  font-weight: 400;
}

.call{
  position: Fixed;
  top: auto;
  bottom: 0;
  right: 14px;
  background-color: var(--color-primary);
  padding: .5em;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 0px 6px rgba(0,0,0,.5);
}